.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

$list: (1,2,3,4,5);

.react-text-ellipsis{
  >.bd.lc__{
    @each $i in $list{
      &#{$i}{
        -webkit-line-clamp: $i;
        @extend .line-clamp;
      }
    }
  }
}
