*{margin: 0;padding:0;}
ul,li{list-style: none;}

.hello-react-text-ellipsis{
  padding:20px;
  position: relative;
  button{
    background: #3cc51f;
    width:100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color:#FFF;
    padding:20px;
    border: none;

    &:active{
      background: darken(#3cc51f,10%);
    }

    &:focus{
      outline: none;
    }
  }

  h1{
    font-size:18px;
  }

  .p10{padding:10px;}
  .p20{padding:20px;}

  .react-text-ellipsis{
    margin-bottom:20px;
  }

}
